<h1>
    Pico y Placa
</h1>

<div class="ui-g ui-fluid">
    <div class="ui-g-6 ui-md-6">
        <h3>Matricula del vehículo</h3>
        <p-inputMask name='licensePlate' [(ngModel)]="licensePlate" mask="aaa-9999"></p-inputMask>
    </div>
    <div class="ui-g-6 ui-md-6">
        <h3>Fecha y hora</h3>
        <p-calendar name='currentDate' [(ngModel)]="currentDate" [locale]="es" showTime='true' dateFormat="dd/mm/yy"></p-calendar>
    </div>
    <div class="ui-g-6 ui-md-6">
        <button (click)='checkLicensePlate()'>Consultar</button>
    </div>
</div>